.guessing-word {
  width: 100%;
  height: 7.3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: #001858;
  font-family: "Luckiest Guy", cursive;
}
.leave-button {
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  font-family: "Luckiest Guy", cursive;
  background-color: #f582ae;
  border-radius: 10px;
}
.guessing-input {
  height: 40px;
  width: 200px;
  border: none;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  font-family: "Luckiest Guy", cursive;
}
.guessing-button{
  height: 40px;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1rem;
  font-family: "Luckiest Guy", cursive;
  background-color: #f582ae;
  border-bottom-right-radius: 10px;
}
@media screen and (max-width: 768px) {
  .guessing-word {
    width: 100%;
    height: 10vh;
    padding: 0px 10px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 450px) {
  .guessing-word {
    width: 100%;
    height: 8vh;
    padding: 0% 5px;
    font-size: 0.8rem;
  }
  
}
